include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.hero
            .container.hero__container
              header.header
                .header__logo ВЛ
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}

                .header__links
                  ul.socials__list
                    - var social = ['insta', 'vk', 'github']
                    each item in social
                      li(class=`socials__item socials__item-${item}`)
                        a(href="" target="_blank").socials__link
                          +icon(`${item}`, 'socials__icon')
                .header__burder
                  .burger-btn
                    .burger-btn__list
                      .burger-btn__item
                      .burger-btn__item
                      .burger-btn__item
                  .mobile-menu--box
                    .mobile-menu__nav
                      nav.nav
                        ul.nav__list
                          - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                          each item in menu
                            li.nav__item
                              a(href="").nav__link #{item}

              .hero-content
                .user-info
                  .user-info__description Личный сайт<br> веб разработчика
                  .user-info__name  Василий Лапшинкин
              .hero-bottom-buttons
                .scroll-down-button Скролл
                  +icon('scroll', 'scroll-icon')
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    .user__avatar__image
                  .user__data
                    table.user__data__table
                      -
                        var data =[
                          ['Проживаю:', 'Москва'],
                          ['Возраст:', '26 лет'],
                          ['Родился:', '1 июня 1995'],
                        ]
                      each row in data
                        tr.user__data__row
                          td.user__data__cell #{row[0]}
                          td.user__data__cell #{row[1]}
              .about__right
                .about__welcome Привет, меня зовут
                .section-title Василий Лапшинкин
                .about__description Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .middle-section
          section.values
            .container.values__container
              .values__left
                .values__image
                  +image('content/briefcase.png', 'values__image__img')
              .values__right
                .values__title
                  .section-title Чем я могу быть вам полезен
                  .values__description
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                #skills-component
          section.portfolio
            .container.portfolio__container
              .portfolio__title
                .section-title Мои работы
              .portfolio__left
                .portfolio__project
                  .portfolio__project__active
                    .portfolio__project__active__image
                      +image('content/portfolio/1.jpg', 'portfolio__project__active__image__img')
                    .portfolio__project__active__num 1
                  .portfolio__project__list
                    -
                      var arrPortfolio = [
                        [['CSS', 'PHP', 'JS', 'TYPESCRIPT'], 'Сайт школы образования 1', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей! 1', 'url-1'],
                        [['HTML', 'PHP', 'JS', 'TYPESCRIPT'], 'Сайт школы образования 2', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей! 2', 'url-2'],
                        [['HTML', 'CSS', 'JS', 'TYPESCRIPT'], 'Сайт школы образования 3', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей! 3', 'url-3'],
                        [['HTML', 'CSS', 'PHP', 'TYPESCRIPT'], 'Сайт школы образования 4', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей! 4', 'url-4'],
                        [['HTML', 'CSS', 'PHP', 'JS'], 'Сайт школы образования 5', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей! 5', 'url-5'],
                      ]
                    each itemPortfolio, index in arrPortfolio
                      if index==0
                        .portfolio__project__item.active(data-num=`${index + 1}`)
                          .portfolio__project__item__image
                            +image(`content/portfolio/${index + 1}.jpg`, `portfolio__project__item__image__img`)
                      else
                        .portfolio__project__item(data-num=`${index + 1}`)
                          .portfolio__project__item__image
                            +image(`content/portfolio/${index + 1}.jpg`, `portfolio__project__item__image__img`)
                  .portfolio__project__actions
                    .portfolio__project__actions__btn.portfolio__project__actions__btn--next
                      +icon('arrow-down', 'portfolio__project__actions__btn__icon')
                    .portfolio__project__actions__btn.portfolio__project__actions__btn--prev
                      +icon('arrow-down', 'portfolio__project__actions__btn__icon')
              .portfolio__right
                .portfolio__project__description__list
                  each itemPortfolio, index in arrPortfolio
                    if index==0
                      .portfolio__project__description__item(id=`${index + 1}`)
                        .portfolio__project__description__tool
                          .portfolio__project__description__tool__list
                            each itemPortfolioSkill, index in itemPortfolio[0]
                              .portfolio__project__description__tool__item #{itemPortfolioSkill}
                        .portfolio__project__description__name #{itemPortfolio[1]}
                        .portfolio__project__description__text #{itemPortfolio[2]}
                        a(href=`${itemPortfolio[3]}` target="_blank").portfolio__project__description__link
                          +icon('link', 'portfolio__project__description__link__icon')
                          .portfolio__project__description__link__text Посмотреть сайт
                    else
                      .portfolio__project__description__item.hide(id=`${index + 1}`)
                        .portfolio__project__description__tool
                          .portfolio__project__description__tool__list
                            each itemPortfolioSkill, index in itemPortfolio[0]
                              .portfolio__project__description__tool__item #{itemPortfolioSkill}
                        .portfolio__project__description__name #{itemPortfolio[1]}
                        .portfolio__project__description__text #{itemPortfolio[2]}
                        a(href=`${itemPortfolio[3]}`).portfolio__project__description__link
                          +icon('link', 'portfolio__project__description__link__icon')
                          .portfolio__project__description__link__text Посмотреть сайт
        .bottom-section
          section.reviews
            .container.reviews__container
              .reviews__title
                .section-title.reviews__section-title Что обо мне говорят
                .reviews__slider-btns
                  .reviews__slider-btn.reviews__slider-btn--prev
                    +icon('arrow-down', 'reviews__slider-controls__icon')
                  .reviews__slider-btn.reviews__slider-btn--next
                    +icon('arrow-down', 'reviews__slider-controls__icon')
              .reviews__slider__wrap
                ul.reviews__slider
                  -
                    var quote = [
                      {name: 'Ковальчук Дмитрий', image:'1',text: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 9,5 месяца только самых тяжелых испытаний и бессонных ночей!",occ: 'Основатель Loftschool'},
                      {name: 'Владимир Сабанцев', image:'2',text: "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",occ: 'Преподаватель'},
                      // {name: 'Николай Ботин', image:'3',text: "Нужен был интернет магазин под ключ, остались довольны",occ: 'Владелец интернет магазина'}
                    ]
                  each item, index in quote
                    li.reviews__item
                      .quote
                        .quote--left
                          +icon(`quote`, 'quote__icon')
                        .quote--right
                          .quote__text #{item['text']}
                          .quote__author
                            .user.user--horizontal
                              .user__avatar
                                +image(`content/quote/${item['image']}.png`, '.user__avatar__img')
                              .user__data
                                .user__name #{item['name']}
                                .user__occ  #{item['occ']}
          section.feedback
            .container.feedback__container
              .feedback__title
                .section-title.feedback__section-title Связаться со мной
              .feedback--box
                form(action='', method='POST')
                  .form__wrap
                    .form__user-data
                      .form__item
                        .form__image
                          +icon(`user`, 'form__icon')
                        .form__input-box
                          .form__label
                            label(for="name").form__label Введите ваше имя
                          .form__input
                            input(id="name", type="text", name="user_name", placeholder="Имя")
                      .form__item
                        .form__image
                          +icon(`envelope`, 'form__icon')
                        .form__input-box
                          .form__label
                            label(for="mail").form__label Введите ваш email
                          .form__input
                            input(id="mail", type="email", name="user_mail", placeholder="Email")
                    .form__comment
                      .form__item
                        .form__image
                          +icon(`message`, 'form__icon')
                        .form__input-box
                          .form__label
                            label(for="msg").form__label Сообщение к письму
                          .form__input
                            input(id="msg", type="textarea", name="user_msg", placeholder="Текст сообщения...")
                    .form__button
                      button( type="submit") Отправить
        footer.footer
          .container.footer__container
            .footer__copyright
              .footer__copyright-col
                .footer__copyright-year &copy; 2019
              .footer__copyright-userinfo
                .footer__copyright-name Владимир Астаханов
                .footer__data-text Личный сайт веб - разработчика
            .footer__data
              nav.nav
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a(href="").nav__link #{item}
              .footer__data-content
                .footer__data-col
                  .footer__data-text
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__data-socials
                    ul.socials__list
                      each item in social
                        li.socials__item
                          a(href="" target="_blank").socials__link
                            +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  .text-quote
                    .text-quote__text
                      p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .text-quote__author Martin Golding
    include ./templates/entry.pug