include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.hero
            .container.hero__container
              header.header
                .header__logo ВЛ
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}

                .header__links
                  ul.socials__list
                    - var social = ['insta', 'vk', 'github']
                    each item in social
                      li.socials__item
                        a(href="").socials__link
                          +icon(`${item}`, 'socials__icon')
              .hero-content
                .user-info
                  .user-info__description Личный сайт веб разработчика
                  .user-info__name  Василий Лапшинкин
              .hero-bottom-buttons
                .scroll-down-button Скролл
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar

                  .user__data
                    table.user__data__table
                      -
                        var data =[
                          ['Проживаю:', 'Москва'],
                          ['Возраст:', '26 лет'],
                          ['Родился:', '1 июня 1995'],
                        ]
                      each row in data
                        tr.user__data__row
                          td.user__data__cell #{row[0]}
                          td.user__data__cell #{row[1]}
              .about__right
                .about__welcome Привет, меня зовут
                .section-title Василий Лапшинкин
                .about__description Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .middle-section
          section.values
            .container.values__container
              .values__left
                .values__image
                  +image('content/briefcase.png', 'values__image__img')
              .values__right
                .values__title
                  .section-title Чем я могу быть вам полезен
                  .values__description
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                ul.user-skills
                  li.users-skills__item
                    .skills__row
                      .skills__row__title Frontend
                      ul.skills__row__list
                        li.skills__row__item
                          -
                            var skillData = [
                              ['HTML5:', '25'],
                              ['CSS3:', '12.5'],
                              ['Javascript:', '75'],
                              ['Jquery и Vue.js:', '25'],
                            ]
                          each skillCircle in skillData
                            .skill
                              - var skillDataOstatok = 100 - skillCircle[1]
                              svg(viewBox="0 0 42 42").skill__shape
                                circle(cx="21" cy="21" r="19" fill="transparent" stroke="#d2d3d4" stroke-width="1.5").skill__circle.skill__circle--under
                                circle(cx="21" cy="21" r="19" fill="transparent" stroke="url('#circleGradient')" stroke-width="3" stroke-dasharray=`${skillCircle[1]} ${skillDataOstatok}` stroke-dashoffset="50").skill__circle.skill__circle--above
                                linearGradient(gradientTransform="rotate(90)")#circleGradient
                                  stop(offset="5%" stop-color="#7c00ea")
                                  stop(offset="95%" stop-color="#4a00ea")
                              .skill__title #{skillCircle[0]}
                ul.user-skills
                  li.users-skills__item
                    .skills__row
                      .skills__row__title Workflow
                      ul.skills__row__list
                        li.skills__row__item
                          -
                            var skillData = [
                              ['GIT:', '13.5'],
                              ['Terminal:', '25'],
                              ['Gulp:', '50'],
                              ['Webpack:', '40'],
                            ]
                          each skillCircle in skillData
                            .skill
                              - var skillDataOstatok = 100 - skillCircle[1]
                              svg(viewBox="0 0 42 42").skill__shape
                                circle(cx="21" cy="21" r="18" fill="transparent" stroke="#d2d3d4" stroke-width="2").skill__circle.skill__circle--under
                                circle(cx="21" cy="21" r="18" fill="transparent" stroke="url('#circleGradient')" stroke-width="5" stroke-dasharray=`${skillCircle[1]} ${skillDataOstatok}` stroke-dashoffset="50").skill__circle.skill__circle--above
                                linearGradient(gradientTransform="rotate(90)")#circleGradient
                                  stop(offset="5%" stop-color="#7c00ea")
                                  stop(offset="95%" stop-color="#4a00ea")
                              .skill__title #{skillCircle[0]}
          section.portfolio
            .container.portfolio__container
              -
                var arrPortfolio = [
                  [['CSS', 'PHP', 'JS', 'TYPESCRIPT'], 'Название сайта 1', 'Описание сайта 1', 'url-1'],
                  [['HTML', 'PHP', 'JS', 'TYPESCRIPT'], 'Название сайта 1', 'Описание сайта 1', 'url-1'],
                  [['HTML', 'CSS', 'JS', 'TYPESCRIPT'], 'Название сайта 1', 'Описание сайта 1', 'url-1'],
                  [['HTML', 'CSS', 'PHP', 'TYPESCRIPT'], 'Название сайта 1', 'Описание сайта 1', 'url-1'],
                  [['HTML', 'CSS', 'PHP', 'JS'], 'Название сайта 1', 'Описание сайта 1', 'url-1'],
                ]
              .portfolio__title
                .section-title Мои работы
              .portfolio__left
                .portfolio__project
                  .portfolio__project__active
                    .portfolio__project__active__image
                      +image('content/portfolio/1.jpg', 'portfolio__project__active__image__img')
                    .portfolio__project__active__num 1
                  .portfolio__project__list
                    each itemPortfolio, index in arrPortfolio
                      .portfolio__project__item
                        .portfolio__project__item__image
                          +image(`content/portfolio/${index + 1}.jpg`, `portfolio__project__item__image__img`)
                  .portfolio__project__actions
                    .portfolio__project__actions__next
                      +icon('arrow-down', 'portfolio__project__actions__next__icon')
                    .portfolio__project__actions__prev
                      +icon('arrow-down', 'portfolio__project__actions__next__icon')
              .portfolio__right
                each itemPortfolio in arrPortfolio
                  .portfolio__right--box
                    .portfolio__project__tool
                      .portfolio__project__tool__list
                        each itemPortfolioSkill, index in itemPortfolio[0]
                          .portfolio__project__tool__item #{itemPortfolioSkill}
                    .portfolio__project__name #{itemPortfolio[1]}
                    .portfolio__project__description #{itemPortfolio[2]}
                    .portfolio__project__link__wrap
                      +icon('link', '.portfolio__project__link__icon')
                      a(href=`${itemPortfolio[3]}`).portfolio__project__link Посмотреть сайт
